@charset "UTF-8";

@media screen and (min-width:100px) and (max-width:410px){
    button{
        width: 100px;
        height: 25px;
    }
    
    
    .imagens > img{
        width:250px;
        height:250px;
    } 


    #imgseth{
        display: flex;
        justify-content: center;
        width:250px;
        height:250px;
    }

    #imagem-bottom{
        display: flex;
        justify-content: space-around;
    }

    #flash{
        width:100px;
        height:100px;
    }

    #joaofrango{
        width:100px;
        height:100px;
    }

    footer{
        font-size: 13px;
    }
}

@media screen and (min-width: 430px) and (max-width: 840px){
    .imagens >img{
        width: 100vw;
        height: 600px;
    }
}

@media screen and (min-width: 840px){
    #imgseth{
        width: 500px;
        height: 500px;
        margin-top: 20px;
    }

    #seth2{
        font-size:20px;
        line-height:20px;
        
    }
   
    .imagens{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
    #imglogo{
        width: 250px;
        height: 250px;
    }

   .imagens>img{
    display: flex;
    justify-content: center;
    width: 850px;
    height: 850px;
   }

   #imagem-bottom{
    justify-content: space-around;
   }
}
